*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	height: 100vh;
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
}
.card{
	width: 50%;
	min-height: 70%;
	max-height: 75%;
	background-color: #f5f5f5;
	box-shadow:0 10px 20px rgba(0, 0, 0, 0.2);
	padding: 10%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.card img{
	width: 110%;
}
.buy{
	background-color: red;
	color: white;
	border: none;
	border-radius: 5px;
	height: 10%;
	width: 40%;
	
}
